%body
.notice
.wrapper
  .left
    = render partial: 'shared/sidebar', locals: {group: @group}
  .right
    .layout-right-header
      .group-header
        .group-header__top-contents
          .group-name
          = @group.name
          = link_to "Edit", "/groups/#{current_user.id}/edit", class: "edit-button"
        .group-header__bottom-content-members
          MEMBER：
          - @group.group_users.each do |member|
            = member.user.name
    .layout-right-body
      .messages-list
        - @messages.each do |message|
          .one-message{"data-id": "#{message.id}"}
            .one-message__writer-name
              = message.user.name
            .one-message__written-time
              = message.created_at
            .one-message__written-message
              = message.content
              %br
              =image_tag message.image, size: "250x150", class: "one-message__image"
    .layout-right-footer
      .form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__type-message', placeholder: 'type a message', id: 'new_message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'fa-image'
              = f.file_field :image, class: 'form__image'
          = f.submit 'Send', class: 'form__submit-button'
