%body
.notice
.wrapper
  .left
    .layout-left-header
      .user-header
        %h3.user-header__name
          = current_user.name
        = link_to "_groups_new_path", class: "user-header__new-group" do
          %i.fa.fa-pencil-square-o.icon
        = link_to "/users/#{current_user.id}/edit", class: "user-header__edit-user" do
          %i.fa.fa-cog.icon

    .layout-left-body
      .groups
        .one-group
          %h4.one-group__name
            チャットグループ１
          %h5.one-group__message
            こんにちは！

  .right
    .layout-right-header
      .group-header
        .group-header__top-contents
          %h6.group-name
            group name
          = link_to "Edit", "_groups_edit_path", class: "edit-button"
        .group-header__bottom-content-members
          MEMBER

    .layout-right-body
      .messages-list
        .one-message
          %h8.one-message__writer-name
            member name
          %h7.one-message__written-time
            2016/12/12 12:12
          %h9.one-message__written-message
            こんにちは！

    .layout-right-footer
      .form
        %i.fa.fa-image.icon
        %input.form__image{ name: "message[image]", type: "file" }
        %input.form__type-message{:name => "message[body]", :placeholder => "type a message", :type => "text"}/
        %input.form__submit-button{"data-disable-with" => "Send", name: "commit", type: "submit", value: "Send"}/
